.App {
    text-align: center;
}

/* Header styles */
.headerContainer {
    height: 205px;
    position: static;
    text-align: center;
}

.headerContainer img {
    object-fit: cover;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    filter: brightness(60%);
    height: 230px !important;
}

@media (min-width: 600px) {
    .headerContainer {
        height: 320px;
    }

    .headerContainer img {
        height: 350px !important;
    }

    .username {
        font-size: 50px;

    }

    .userInfo {
        top: 20%;
    }
}

.login {
    position: absolute;
    color: white;
    fill: white;
    top: 25px;
    right: 2%;
    z-index: 2;
    cursor: pointer;
    -webkit-filter: drop-shadow(2px 2px 5px #000);
    filter: drop-shadow(2px 2px 5px #000);
}

.userInfo {
    position: absolute;
    top: 5%;
}

.userInfo p {
    text-align: left;
    color: white;
}

.username {
    color: #ffffff;
    font-size: 30px;
    text-align: left;
}

/*
Main Container
 */
.mainContainer {
    width: 80%;
    margin: 0 auto;
}

/*
Search Bar
 */

.searchIconDiv {
    padding: 10px;
    background-color: black;
    width: 3%;
    cursor: pointer;
}

.searchIcon {
    padding: 10px;
    cursor: pointer;
}


.artistGrid {
    margin-top: 50px;
}

.artistGridTile {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.artistGridTile img {
    max-width: 100% !important;
    max-height: 270px;
}

.artistName {
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: table;
    visibility: hidden;
}

.artistName h4 {
    text-align: center;
    color: white;
    display: table-cell;
    vertical-align: middle;
}

.artistGridTile:hover .artistName {
    background: rgba(0, 0, 0, 0.6);
    visibility: visible;
}

/*
Artist Dialog
 */
.genres {
    padding: 19px;
    text-align: center;
}
.genreButton {
    margin: 5px !important;

}

